div.configDiv {
    background-color:#fcfcfc;
    padding: 5px;
    padding-top: 10px;
    /*border: solid 1px gray;*/
}

.left {
    float: left;
}

#searchHistory td{
    text-align: center;
}

#searchHistory button {
    min-width: 55px
}

/*#searchHistory tbody td:nth-child(1) {*/
/*    width: 150px;*/
/*    max-width: 150px;*/
/*    min-width: 150px;*/
/*}*/